@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 200;
  font-style: normal;
}

/* 공통 */
html {
  background-color: rgba(255, 228, 196, 0.8);
}
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "pretendard-Regular";
}
a {
  text-decoration: none;
  color: black;
}
.container {
  max-width: 1440px;
}

/* header */
header {
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  font-size: 3vh;
}
#gnb {
  padding: 10px;
  width: 100%;
  position: fixed;
  top: -80px;
  transition: 0.5s;
  border-bottom: 1px solid saddlebrown;
}
#gnb ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#gnb ul li {
  list-style: none;
}
