/* section 공통 */
.section_wrapper {
  /* height: calc(100vh - 80px); */
  height: 100vh;
}
/* section1 */
#main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main .porfile {
  width: 40%;
}
#main .porfile img {
  width: 100%;
  height: auto;
  border-radius: 40%;
}

/* section2 */
#Introduction {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid rebeccapurple;
}
.int_itemBox {
  width: 60%;
}
.int_itemBox .int_text {
  font-style: oblique;
  font-size: 4em;
  padding-bottom: 5%;
}
.int_itemBox .int_item1 {
  padding-bottom: 20%;
}

.int_itemBox .int_item2 div {
  display: flex;
}
/* section3*/
#porject {
  text-align: center;
}
.por_title {
  padding: 2%;
  margin-bottom: 2%;
  border: 1px solid gold;
}
.por_itemBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid sandybrown;
}
.por_item {
  width: 33%;
}
.por_item img {
  width: 100%;
  height: auto;
}
.por_itemBox div {
  border: 1px solid blue;
}
/* section4 */
#contact .con_tite {
  text-align: center;
  padding: 2%;
  margin-bottom: 2%;
}
#contact .con_itemBox {
  width: 60%;
  height: 50%;
  border: 1px solid brown;
}
