@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap%22");
body {
  font-family: "Noto Sans KR", sans-serif;
  padding-top: 90px;
}

.sns_banner {
  position: relative;
}
.sns_banner img {
  width: 100%;
  height: 23.445vw;
}
.sns_banner .main_title {
  display: flex;
  position: absolute;
  bottom: 32%;
}
.sns_banner .main_title .map_title_text {
  width: 98vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sns_banner .main_title .map_title_text p {
  font-size: 4.0638vw;
  margin: 10px 0;
  color: #fff;
}
.sns_banner .main_title .map_title_text p span {
  font-weight: 700;
  font-size: 4.0638vw;
  color: #f54747;
}
.sns_banner .main_title .map_title_text p:first-child {
  display: inline-block;
  font-size: 4.0638vw;
  color: #fff;
  font-size: 2.3966vw;
  font-weight: 900;
  padding: 5px 0.521vw;
  border-top: 2px solid #f54747;
  border-bottom: 2px solid #f54747;
}
.sns_banner .main_title .map_title_text p:last-child {
  color: #fff;
  font-size: 0.9378vw;
  font-weight: 700;
  margin-top: 0.7294vw;
  width: 36.7305vw;
  font-weight: 500;
  font-family: Noto Sans;
  line-height: 29px; /* 161.111% */
  text-align: center;
}

@media (max-width: 1080px) {
  .sns_banner {
    position: relative;
  }
  .sns_banner img {
    width: 100%;
    height: 31.26vw;
  }
  .sns_banner .main_title {
    display: flex;
    position: absolute;
    bottom: 20%;
  }
  .sns_banner .main_title .map_title_text {
    width: 98vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .sns_banner .main_title .map_title_text p {
    font-size: 4.0638vw;
    margin: 10px 0;
    color: #fff;
  }
  .sns_banner .main_title .map_title_text p span {
    font-weight: 700;
    color: #f54747;
  }
  .sns_banner .main_title .map_title_text p:first-child {
    display: inline-block;
    color: #fff;
    font-size: 2.3966vw;
    font-weight: 900;
    padding: 5px 0.521vw;
    border-top: 2px solid #f54747;
    border-bottom: 2px solid #f54747;
  }
  .sns_banner .main_title .map_title_text p:last-child {
    width: 41.68vw;
  }
}
@media (max-width: 768px) {
  .sns_banner {
    position: relative;
  }
  .sns_banner img {
    width: 100%;
    height: 39.06vw;
    content: url(../img/know_in_mobile.png);
  }
  .sns_banner .main_title {
    display: flex;
    position: absolute;
    bottom: 34%;
  }
  .sns_banner .main_title .map_title_text {
    width: 98vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .sns_banner .main_title .map_title_text p {
    font-size: 4.0638vw;
    margin: 10px 0;
    color: #fff;
  }
  .sns_banner .main_title .map_title_text p span {
    font-weight: 700;
    color: #f54747;
  }
  .sns_banner .main_title .map_title_text p:first-child {
    display: inline-block;
    color: #fff;
    font-size: 6.2496vw;
    font-weight: 900;
    padding: 5px 0.521vw;
    border-top: 2px solid #f54747;
    border-bottom: 2px solid #f54747;
  }
  .sns_banner .main_title .map_title_text p:last-child {
    width: 41.68vw;
    display: none;
  }
}
@media (max-width: 430px) {
  .sns_banner {
    position: relative;
  }
  .sns_banner img {
    width: 100%;
    height: 69.78vw;
    content: url(../img/know_in_mobile.png);
  }
  .sns_banner .main_title {
    display: flex;
    position: absolute;
    bottom: 34%;
  }
  .sns_banner .main_title .map_title_text {
    width: 98vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .sns_banner .main_title .map_title_text p {
    font-size: 4.0638vw;
    margin: 10px 0;
    color: #fff;
  }
  .sns_banner .main_title .map_title_text p span {
    font-weight: 700;
    color: #f54747;
  }
  .sns_banner .main_title .map_title_text p:first-child {
    display: inline-block;
    color: #fff;
    font-size: 11.1648vw;
    font-weight: 900;
    padding: 5px 0.521vw;
    border-top: 2px solid #f54747;
    border-bottom: 2px solid #f54747;
  }
  .sns_banner .main_title .map_title_text p:last-child {
    width: 41.68vw;
    display: none;
  }
}