@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

@import "./mixin.scss";

$main-color: #f54747;
$border-color: #ececec;
$font-color_W: #efefef;
$font-color_G: #959595;

$my-font: "Noto Sans KR", sans-serif;

$size-1920-1px: 0.0521vw;
$size-768-1px: 0.1302vw;
$size-430-1px: 0.2326vw;

@keyframes fadeIn {
  from {
    opacity: 0;
    /* 시작 상태의 투명도 */
    transform: translateY(40px);
    /* 시작 상태의 위치 */
  }

  to {
    opacity: 1;
    /* 최종 상태의 투명도 */
    transform: translateY(5px);
    /* 최종 상태의 위치 */
  }
}

:root {
  --swiper-theme-color: #f54747;
  --swiper-pagination-color: #f54747;
}

body {
  padding-top: 120px;
  position: relative;
  height: 90%;
  font-family: "Noto Sans KR", sans-serif;

  .wrapper {
    width: 80%;
    margin: 0 auto;
  }

  button {
    cursor: pointer;
  }

  .main_text {
    text-align: center;
    font-weight: normal;
    font-size: 2.3438vw;
    margin-bottom: 56px;
    padding-top: 120 * $size-1920-1px;
    span {
      font-weight: bold;
    }
  }
}

section.main_carousel {
  padding-top: 20px;
  .swiper {
    width: 96%;
    .swiper-wrapper {
      .swiper-slide {
        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .slide_text {
    text-align: center;
    position: relative;
    bottom: 22vw;
    left: 0%;
    z-index: 100;

    opacity: 0;
    /* 초기에 투명도를 0으로 설정 */
    animation: fadeIn 2s forwards;
    /* fadeIn 애니메이션을 0.5초 동안 실행 */

    h4 {
      /* 1920px 기준 24px */
      font-size: 1.25vw;
      /* font-size: 24px; */
      font-weight: normal;
      color: #eee;
      margin-bottom: 1vw;
    }
    h2 {
      /* 1920px 기준 60px */
      font-size: 3.125vw;
      /* font-size: 60px; */
      font-weight: bold;
      color: #eee;
    }
  }
  .swiper-pagination {
    bottom: 40%;
    opacity: 0;
    /* 초기에 투명도를 0으로 설정 */
    animation: fadeIn 2s forwards;
    /* fadeIn 애니메이션을 0.5초 동안 실행 */
    .swiper-pagination-bullet {
      width: 10 * $size-1920-1px;
      height: 10 * $size-1920-1px;
    }
  }
}

section.first_carousel {
  font-family: $my-font;
  height: 870 * $size-1920-1px;

  .main_text {
    padding-top: 0;
  }

  &.first_carousel {
    position: relative;

    > div.gray_section {
      position: absolute;
      top: 46%;
      width: 100%;
      height: 480 * $size-1920-1px;
      background: #ebefef;
      z-index: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      // background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .first_swiper .text_box {
      width: 520 * $size-1920-1px;
      height: 350 * $size-1920-1px;
      border: 2px solid $border-color;
      position: relative;
      left: 100px;
      background-color: #fff;

      border-radius: 10px;

      box-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.05);
      overflow: hidden;

      .text_box_description {
        color: #7d7d7d;
        font-family: $my-font;
        font-size: 0.9375vw;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;

        text-align: left;

        margin-left: 2.0833vw;
        margin-right: 2.0833vw;
        margin-top: 1.25vw;
      }

      > div:nth-child(1) {
        display: flex;
        border-bottom: 2px solid $border-color;
        margin-left: 1.3021vw;
        margin-right: 1.3021vw;

        height: 5.3125vw;

        button {
          background-color: $main-color;
          border: none;
          border-radius: 20px;
          width: 3.6458vw;
          height: 1.5625vw;

          font-size: 0.8333vw;
          color: $font-color_W;

          margin-left: 2.3958vw;
          margin-top: 2.5vw;
        }

        > div {
          margin-top: 1.6667vw;
          margin-left: 0.7813vw;

          .text_box_main_text {
            font-size: 1.3542vw;
            font-weight: bold;
            text-align: left;
          }
          .text_box_location {
            display: flex;
            margin-top: 0.5vw;

            img {
              width: 0.7292vw;
              height: 1.0417vw;
              margin-right: 0.5vw;
            }

            p {
              color: $font-color_G;
              font-size: 0.8333vw;
            }
          }
        }
      }
    }

    .first_swiper img {
      width: 1020 * $size-1920-1px;
      height: 580 * $size-1920-1px;
    }
  }
  .swiper-button-lock {
    display: block;
  }

  .swiper_button {
    position: relative;
    left: 120 * $size-1920-1px;
    bottom: 70 * $size-1920-1px;
    .swiper-button-next,
    .swiper-button-prev {
      color: $font-color_G;
      position: absolute;
      z-index: 10;

      &.swiper-button-next {
        left: 50 * $size-1920-1px;
        &:after {
          font-size: 24 * $size-1920-1px;
        }
      }

      &.swiper-button-prev {
        &:after {
          font-size: 24 * $size-1920-1px;
        }
      }
    }
  }
  .swiper-pagination {
    display: none;
  }
}

section.second_carousel {
  height: 900 * $size-1920-1px;

  .wrapper {
    width: 80%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
    background-color: $main-color;
    border-radius: 50%;
    width: 60 * $size-1920-1px;
    height: 60 * $size-1920-1px;
    z-index: 100;
    top: 46%;

    &:after {
      font-size: 24 * $size-1920-1px;
    }
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-lock {
    display: block;
  }

  .swiper-wrapper {
    .swiper-slide {
      // border: 1px solid red;
      height: 600 * $size-1920-1px;
      display: block;
      img {
        width: 300 * $size-1920-1px;
        border: 1px solid $border-color;
        border-radius: 20px 20px 20px 0;
      }
      .festival_text {
        margin-top: -8 * $size-1920-1px;
        border-left: 1px solid #ccc;
        text-align: left;
        font-family: $my-font;

        height: 110 * $size-1920-1px;

        p:nth-child(1) {
          color: var(--sub-text, #7e7e7e);
          font-size: 16 * $size-1920-1px;
          font-weight: 500;
          margin-left: 20 * $size-1920-1px;
          padding-top: 25 * $size-1920-1px;
          line-height: 1.3;
        }

        p:nth-child(2) {
          color: var(--font-color, #333);
          font-family: $my-font;
          font-size: 24 * $size-1920-1px;
          font-weight: 600;

          margin-left: 20 * $size-1920-1px;
          margin-top: 44 * $size-1920-1px;
        }

        p:nth-child(3) {
          color: #2c3047;
          font-family: $my-font;
          font-size: 14 * $size-1920-1px;
          font-weight: 500;

          margin-left: 20 * $size-1920-1px;
          margin-top: 9 * $size-1920-1px;
        }
      }
      .festival_second_text {
        margin-top: -8 * $size-1920-1px;
        margin-left: 1 * $size-1920-1px;
        border-left: 1px solid #ccc;
        text-align: left;
        font-family: $my-font;

        height: 108 * $size-1920-1px;

        p:nth-child(1) {
          color: var(--sub-text, #7e7e7e);
          font-size: 16 * $size-1920-1px;
          font-weight: 500;
          margin-left: 20 * $size-1920-1px;
          padding-top: 20 * $size-1920-1px;
        }

        p:nth-child(2) {
          color: var(--sub-text, #7e7e7e);
          font-size: 16 * $size-1920-1px;
          font-weight: 500;
          margin-left: 20 * $size-1920-1px;

          margin-top: 5 * $size-1920-1px;
        }

        p:nth-child(3) {
          color: var(--font-color, #333);
          font-family: $my-font;
          font-size: 24 * $size-1920-1px;
          font-weight: 600;

          margin-left: 20 * $size-1920-1px;
          margin-top: 28 * $size-1920-1px;
        }

        p:nth-child(4) {
          color: #2c3047;
          font-size: 14 * $size-1920-1px;
          font-weight: 500;
          margin-left: 20 * $size-1920-1px;
          margin-top: 9 * $size-1920-1px;
        }
      }
    }
  }
}

section.knowledge_in {
  background: #ebefef;
  height: 910 * $size-1920-1px;
  // padding-top: 151 * $size-1920-1px;
  .knowledge_title {
    text-align: center;
    .main_text {
      padding-top: 121 * $size-1920-1px;
      margin-bottom: 20 * $size-1920-1px;
    }
    p {
      color: var(--sub-text, #7e7e7e);
      font-size: 20 * $size-1920-1px;
      font-weight: 500;
      line-height: normal;
    }
    .knowledge_btns {
      margin-top: 55 * $size-1920-1px;
      button {
        font-size: 20 * $size-1920-1px;
        &:nth-child(1) {
          border-radius: 10px;
          background: $main-color;
          border: none;
          padding: 10 * $size-1920-1px 15 * $size-1920-1px;
          color: white;
          margin-right: 40 * $size-1920-1px;
          a {
            color: white;
          }
        }
        &:nth-child(2) {
          border-radius: 10px;
          background: #28a342;
          border: none;
          padding: 10 * $size-1920-1px 15 * $size-1920-1px;
          color: white;
          a {
            color: white;
          }
        }
      }
    }
  }

  .knowledge_notice {
    margin: 0 auto;

    margin-top: 85 * $size-1920-1px;
    margin-bottom: 119 * $size-1920-1px;
    width: 1440 * $size-1920-1px;
    // height: 370 * $size-1920-1px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);

    h2 {
      margin-left: 70 * $size-1920-1px;
      padding-top: 59 * $size-1920-1px;
      text-align: left;
      font-size: 24 * $size-1920-1px;
      font-weight: 700;
    }
    .notice_items {
      margin-left: 57 * $size-1920-1px;
      margin-top: 34 * $size-1920-1px;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 24 * $size-1920-1px;

      > div {
        display: flex;
        margin-bottom: 30 * $size-1920-1px;
        img {
          width: 10 * $size-1920-1px;
          margin-left: 65 * $size-1920-1px;
          margin-right: 15 * $size-1920-1px;
        }
        p {
          font-size: 18 * $size-1920-1px;
          font-style: normal;
          color: var(--sub-text, #7e7e7e);
          font-weight: 500;

          &:nth-child(2) {
            width: 443 * $size-1920-1px;
            font-size: 18 * $size-1920-1px;
          }
          &:nth-child(3) {
            font-size: 16 * $size-1920-1px;
            color: var(--sub-text, #7e7e7e);
          }
        }
      }
    }
  }
}

section.sns_item {
  position: relative;
  z-index: 1;
  .main_text {
    padding-top: 142 * $size-1920-1px;
    margin-bottom: 79 * $size-1920-1px;
  }
  .sns_items {
    display: flex;
    justify-content: center;

    > div {
      position: relative;
      img {
        &:nth-child(1) {
          margin-left: 22 * $size-1920-1px;
          margin-right: 22 * $size-1920-1px;
          width: 450 * $size-1920-1px;
          height: 254 * $size-1920-1px;
          object-fit: cover;
          border-radius: 20px 20px 20px 0;
        }
        &:nth-child(2) {
          // border: 1px solid red;
          width: 55 * $size-1920-1px;
          position: absolute;
          left: 35 * $size-1920-1px;
          bottom: 155 * $size-1920-1px;
        }
      }
      a {
        color: black;
        text-decoration: none;
      }
      p {
        text-align: center;
        margin-top: 45 * $size-1920-1px;
        font-weight: 700;
        font-size: 24 * $size-1920-1px;
        margin-bottom: 110 * $size-1920-1px;
        margin-left: 10 * $size-1920-1px;
        margin-right: 10 * $size-1920-1px;
        line-height: 1.4;
      }
    }
  }
  > div.gray_section {
    position: absolute;
    top: 55%;
    width: 100%;
    height: 350 * $size-1920-1px;
    background: #ebefef;
    z-index: -1;
  }
}

@include tablet {
  body {
    .wrapper {
      width: 97%;
    }

    .main_text {
      font-size: 34 * $size-768-1px;
      margin-bottom: 44 * $size-768-1px;
    }
  }

  section.main_carousel {
    .swiper {
      width: 98%;
    }
    .slide_text {
      bottom: 38vw;
      left: 0%;
      h4 {
        font-size: 22 * $size-768-1px;
      }
      h2 {
        font-size: 46 * $size-768-1px;
      }
    }
    .swiper-pagination {
      bottom: 41%;
      .swiper-pagination-bullet {
        width: 8 * $size-768-1px;
        height: 8 * $size-768-1px;
      }
    }
  }

  section.first_carousel {
    height: 870 * $size-768-1px;

    &.first_carousel {
      > div.gray_section {
        position: absolute;
        top: 40%;
        width: 100%;
        height: 480 * $size-768-1px;
        background: #ebefef;
        z-index: 0;
      }
      .first_swiper img {
        width: 728 * $size-768-1px;
        height: 460 * $size-768-1px;
        border-radius: 30px 30px 30px 0px;
      }

      .swiper-slide {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: flex-end;
      }
      .first_swiper {
        .text_box {
          width: 607 * $size-768-1px;
          height: 309 * $size-768-1px;
          bottom: 140px;
          left: 0;
          background-color: #fff;
          border-radius: 10px;
          border: 1px solid $border-color;

          box-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.05);
          > div:nth-child(1) {
            height: 102 * $size-768-1px;
            margin-left: 30 * $size-768-1px;
            margin-right: 30 * $size-768-1px;

            button {
              width: 82 * $size-768-1px;
              height: 30 * $size-768-1px;

              font-size: 16 * $size-768-1px;

              margin-top: 47.5 * $size-768-1px;
              margin-left: 14 * $size-768-1px;
            }
            > div {
              margin-top: 32 * $size-768-1px;
              margin-left: 17 * $size-768-1px;

              .text_box_main_text {
                font-size: 26 * $size-768-1px;
                margin-bottom: 8 * $size-768-1px;
              }
              .text_box_location {
                display: flex;
                margin-top: 2 * $size-768-1px;

                img {
                  width: 20 * $size-768-1px;
                  height: 20 * $size-768-1px;
                  margin-right: 0.5vw;
                  object-fit: contain;
                }

                p {
                  font-size: 16 * $size-768-1px;
                  font-weight: 500;
                  margin-top: 0.2vw;
                }
              }
            }
          }
          .text_box_description {
            font-size: 16 * $size-768-1px;
            font-style: normal;
            font-weight: 500;
            line-height: 2;

            margin-left: 29 * $size-768-1px;
            margin-right: 29 * $size-768-1px;
            margin-top: 22 * $size-768-1px;
          }
        }
        .swiper_button {
          display: none;
        }
        .swiper-pagination {
          display: block;
          position: relative;
          bottom: 100px;
        }
      }
    }
  }

  section.second_carousel {
    height: 840 * $size-768-1px;

    .wrapper {
      width: 94%;
    }

    .main_text {
      margin-bottom: 60 * $size-768-1px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }

    .swiper-wrapper {
      .swiper-slide {
        height: 620 * $size-768-1px;

        img {
          width: 330 * $size-768-1px;
        }
        .festival_text {
          margin-top: -8 * $size-768-1px;
          height: 110 * $size-768-1px;

          p:nth-child(1) {
            font-size: 16 * $size-768-1px;
            margin-left: 23.7 * $size-768-1px;
            padding-top: 26.8 * $size-768-1px;
          }

          p:nth-child(2) {
            font-size: 24 * $size-768-1px;
            margin-left: 23.7 * $size-768-1px;
            margin-top: 47.17 * $size-768-1px;
          }

          p:nth-child(3) {
            font-size: 14 * $size-768-1px;
            margin-left: 23.7 * $size-768-1px;
            margin-top: 9.65 * $size-768-1px;
          }
        }
        .festival_second_text {
          margin-top: -8 * $size-768-1px;
          margin-left: 1 * $size-768-1px;
          height: 110 * $size-768-1px;

          p:nth-child(1) {
            font-size: 16 * $size-768-1px;
            margin-left: 23.7 * $size-768-1px;
            padding-top: 26.8 * $size-768-1px;
          }

          p:nth-child(2) {
            font-size: 16 * $size-768-1px;
            margin-left: 23.7 * $size-768-1px;

            margin-top: 5 * $size-768-1px;
          }

          p:nth-child(3) {
            font-size: 24 * $size-768-1px;
            margin-left: 23.7 * $size-768-1px;
            margin-top: 26 * $size-768-1px;
          }

          p:nth-child(4) {
            color: #2c3047;
            font-size: 14 * $size-768-1px;
            margin-left: 23.7 * $size-768-1px;
            margin-top: 9 * $size-768-1px;
          }
        }
      }
    }
  }

  section.knowledge_in {
    height: 920 * $size-768-1px;
    .knowledge_title {
      .main_text {
        padding-top: 91 * $size-768-1px;
        margin-bottom: 20 * $size-768-1px;
      }
      p {
        font-size: 14 * $size-768-1px;
      }
      .knowledge_btns {
        margin-top: 24 * $size-768-1px;

        button {
          font-size: 16 * $size-768-1px;
          &:nth-child(1) {
            border-radius: 10px;
            padding: 8 * $size-768-1px 12 * $size-768-1px;
            margin-right: 36 * $size-768-1px;
          }
          &:nth-child(2) {
            border-radius: 10px;
            padding: 8 * $size-768-1px 12 * $size-768-1px;
          }
        }
      }
    }

    .knowledge_notice {
      margin-top: 46 * $size-768-1px;
      // margin-bottom: 119 * $size-1920-1px;
      width: 728 * $size-768-1px;

      h2 {
        padding-top: 50 * $size-768-1px;
        margin-left: 63 * $size-768-1px;
        font-size: 24 * $size-768-1px;
      }
      .notice_items {
        margin-left: 57 * $size-768-1px;
        margin-top: 50 * $size-768-1px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        padding-bottom: 24 * $size-768-1px;

        > div {
          display: flex;
          margin-bottom: 30 * $size-768-1px;
          img {
            width: 8 * $size-768-1px;
            margin-left: 10 * $size-768-1px;
            margin-right: 15 * $size-768-1px;
          }
          p {
            font-size: 18 * $size-768-1px;

            &:nth-child(2) {
              width: 456 * $size-768-1px;
              font-size: 18 * $size-768-1px;
            }
            &:nth-child(3) {
              font-size: 16 * $size-768-1px;
            }
          }
        }
      }
    }
  }

  section.sns_item {
    position: relative;
    .main_text {
      padding-top: 65 * $size-768-1px;
      margin-bottom: 42 * $size-768-1px;
    }
    .sns_items {
      display: flex;
      justify-content: center;

      > div:last-child {
        display: none;
      }

      > div {
        position: relative;
        img {
          &:nth-child(1) {
            margin-left: 10 * $size-768-1px;
            margin-right: 10 * $size-768-1px;
            width: 350 * $size-768-1px;
            height: 200 * $size-768-1px;
            object-fit: cover;
          }
          &:nth-child(2) {
            width: 45 * $size-768-1px;
            left: 35 * $size-768-1px;
            bottom: 150 * $size-768-1px;
          }
        }
        p {
          text-align: center;
          margin-top: 45 * $size-768-1px;
          font-weight: 700;
          font-size: 24 * $size-768-1px;
          margin-bottom: 60 * $size-768-1px;
        }
      }
    }
    > div.gray_section {
      display: none;
    }
  }
}

@include mobile {
  body {
    .main_text {
      font-size: 24 * $size-430-1px;
      margin-bottom: 40 * $size-430-1px;
    }
  }

  section.main_carousel {
    .slide_text {
      bottom: 60vw;
      left: 0%;
      h4 {
        font-size: 18 * $size-430-1px;
        margin-bottom: 1.5vw;
      }
      h2 {
        font-size: 30 * $size-430-1px;
      }
    }
    .swiper-pagination {
      bottom: 42%;
      .swiper-pagination-bullet {
        width: 8 * $size-430-1px;
        height: 8 * $size-430-1px;
      }
    }
  }

  section.first_carousel {
    height: 720 * $size-430-1px;

    &.first_carousel {
      > div.gray_section {
        position: absolute;
        top: 43%;
        height: 370 * $size-430-1px;
      }

      .first_swiper img {
        width: 390 * $size-430-1px;
        height: 366 * $size-430-1px;
        border-radius: 30px 0 30px 30px;
      }

      .swiper-slide {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
      }

      .first_swiper {
        .text_box {
          width: 390 * $size-430-1px;
          height: 290 * $size-430-1px;
          bottom: 120px;
          border: 1px solid $border-color;
          box-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.05);

          > div:nth-child(1) {
            height: 96.75 * $size-430-1px;
            margin-left: 26.25 * $size-430-1px;
            margin-right: 26.25 * $size-430-1px;

            button {
              width: 52.5 * $size-430-1px;
              height: 28.4 * $size-430-1px;

              font-size: 12 * $size-430-1px;

              margin-top: 45 * $size-430-1px;
              margin-left: 40 * $size-430-1px;
            }
            > div {
              margin-top: 36 * $size-430-1px;
              margin-left: 32 * $size-430-1px;

              .text_box_main_text {
                font-size: 20 * $size-430-1px;
                margin-bottom: 8 * $size-430-1px;
              }
              .text_box_location {
                display: flex;
                margin-top: 1 * $size-430-1px;

                img {
                  width: 17 * $size-430-1px;
                  height: 16 * $size-430-1px;
                  margin-right: 0.5vw;
                  object-fit: contain;
                }

                p {
                  font-size: 12 * $size-430-1px;
                  font-weight: 500;
                  margin-top: 0.2vw;
                }
              }
            }
          }
          .text_box_description {
            font-size: 13 * $size-430-1px;
            line-height: 1.8;

            margin-left: 30 * $size-430-1px;
            margin-right: 30 * $size-430-1px;
            margin-top: 23 * $size-430-1px;
          }
        }
        .swiper-pagination {
          bottom: 110px;
        }
      }
    }
  }

  section.second_carousel {
    height: 680 * $size-430-1px;

    .wrapper {
      width: 96%;
    }

    .main_text {
      margin-bottom: 40 * $size-430-1px;
    }

    .swiper-wrapper {
      .swiper-slide {
        height: 550 * $size-430-1px;

        &:first-child {
          margin-left: 56 * $size-430-1px;
        }

        img {
          width: 300 * $size-430-1px;
        }
        .festival_text {
          margin-top: -8 * $size-430-1px;
          height: 110 * $size-430-1px;

          p:nth-child(1) {
            font-size: 16 * $size-430-1px;
            margin-left: 26 * $size-430-1px;
            padding-top: 27 * $size-430-1px;
          }

          p:nth-child(2) {
            font-size: 20 * $size-430-1px;
            margin-left: 26 * $size-430-1px;
            margin-top: 47.7 * $size-430-1px;
          }

          p:nth-child(3) {
            font-size: 14 * $size-430-1px;
            margin-left: 26 * $size-430-1px;
            margin-top: 10 * $size-430-1px;
          }
        }
        .festival_second_text {
          margin-top: -8 * $size-430-1px;
          margin-left: 1 * $size-430-1px;
          height: 110 * $size-430-1px;

          p:nth-child(1) {
            font-size: 16 * $size-430-1px;
            margin-left: 26 * $size-430-1px;
            padding-top: 27 * $size-430-1px;
          }

          p:nth-child(2) {
            font-size: 16 * $size-430-1px;
            margin-left: 26 * $size-430-1px;
            margin-top: 5 * $size-430-1px;
          }

          p:nth-child(3) {
            font-size: 20 * $size-430-1px;
            margin-left: 26 * $size-430-1px;
            margin-top: 26 * $size-430-1px;
          }

          p:nth-child(4) {
            font-size: 14 * $size-430-1px;
            margin-left: 26 * $size-430-1px;
            margin-top: 9 * $size-430-1px;
          }
        }
      }
    }
  }

  section.knowledge_in {
    height: 725 * $size-430-1px;
    .knowledge_title {
      .main_text {
        padding-top: 71 * $size-430-1px;
        margin-bottom: 20 * $size-430-1px;
      }
      p {
        font-size: 16 * $size-430-1px;
        &:nth-child(3) {
          display: none;
        }
      }
      .knowledge_btns {
        margin-top: 20 * $size-430-1px;
        margin-bottom: 30 * $size-430-1px;

        button {
          font-size: 13 * $size-430-1px;

          &:nth-child(1) {
            border-radius: 10px;
            padding: 10 * $size-430-1px 10 * $size-430-1px;
            margin-right: 6 * $size-430-1px;
          }
          &:nth-child(2) {
            border-radius: 10px;
            padding: 10 * $size-430-1px 10 * $size-430-1px;
          }
        }
      }
    }

    .knowledge_notice {
      margin-top: 21 * $size-430-1px;
      // margin-bottom: 119 * $size-1920-1px;
      width: 390 * $size-430-1px;

      h2 {
        padding-top: 30 * $size-430-1px;
        margin-left: 135 * $size-430-1px;
        font-size: 24 * $size-430-1px;
      }
      .notice_items {
        margin-left: 19 * $size-430-1px;
        margin-top: 28.5 * $size-430-1px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        padding-bottom: 26 * $size-430-1px;

        > div {
          display: flex;
          margin-bottom: 26 * $size-430-1px;

          img {
            width: 8 * $size-430-1px;
            margin-right: 15 * $size-430-1px;
          }
          p {
            font-size: 16 * $size-430-1px;

            &:nth-child(2) {
              width: 230 * $size-430-1px;
              font-size: 14 * $size-430-1px;
            }
            &:nth-child(3) {
              font-size: 12 * $size-430-1px;
            }
          }
        }
      }
    }
  }

  section.sns_item {
    .main_text {
      padding-top: 50 * $size-430-1px;
      margin-bottom: 60 * $size-430-1px;
    }
    .sns_items {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      > div:last-child {
        display: none;
      }

      > div {
        position: relative;

        img {
          &:nth-child(1) {
            width: 393 * $size-430-1px;
            height: 220 * $size-430-1px;
            object-fit: cover;
          }
          &:nth-child(2) {
            width: 45 * $size-430-1px;
            left: 35 * $size-430-1px;
            bottom: 90 * $size-430-1px;
          }
        }
        p {
          margin-top: 36 * $size-430-1px;
          font-size: 18 * $size-430-1px;
          margin-bottom: 46 * $size-430-1px;
        }

        &:nth-child(2) {
          img {
            &:nth-child(2) {
              bottom: 120 * $size-430-1px;
            }
          }
          p {
            margin-bottom: 76 * $size-430-1px;
          }
        }
      }
    }
  }
}
