@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

$my-font: "Noto Sans KR", sans-serif;

$main-color: #f54747;
$border-color: #ececec;
$font-color_W: #efefef;
$font-color_G: #959595;

$size-1920-1px: 0.0521vw;
$size-768-1px: 0.1302vw;
$size-430-1px: 0.2326vw;

body {
  font-family: $my-font;
}

main {
  font-family: $my-font;

  padding-top: 90px;

  section.sns_banner {
    position: relative;

    .main_banner {
      margin-top: 42 * $size-1920-1px;
      margin-bottom: 55 * $size-1920-1px;
      width: 100%;
      height: 355 * $size-1920-1px;
    }

    .main_title {
      display: flex;
      position: absolute;
      bottom: 32%;

      img {
        width: 60 * $size-1920-1px;
        height: 48 * $size-1920-1px;
        margin-left: 62 * $size-1920-1px;
        margin-right: 24 * $size-1920-1px;
      }

      .map_title_text {
        p {
          margin-top: -4 * $size-1920-1px;
          &:first-child {
            color: #fff;
            font-size: 46 * $size-1920-1px;
            font-weight: 900;
          }
          &:last-child {
            color: #fff;
            font-size: 26 * $size-1920-1px;
            font-weight: 700;
            margin-top: 14 * $size-1920-1px;
          }
        }
      }
    }

    .line {
      width: 100%;
      height: 15 * $size-1920-1px;
      background-color: #eee;
    }
    .hashtag {
      display: flex;
      justify-content: center;
      gap: 15 * $size-1920-1px;

      position: relative;
      bottom: 1.9vw;

      button {
        padding: 10 * $size-1920-1px 20 * $size-1920-1px;
        border-radius: 30px;
        font-size: 24 * $size-1920-1px;
        background-color: #fff;
        border: 1px solid #aaa;
        cursor: pointer;
      }

      .tag-button.active {
        border-color: var(--border-color);
        color: var(--text-color);
      }

      /* 각 버튼별 컬러 설정 */
      .tag-button[data-tag="관광지"] {
        --border-color: #d35f85;
        --text-color: #d35f85;
      }

      .tag-button[data-tag="맛집"] {
        --border-color: #f54747;
        --text-color: #f54747;
      }

      .tag-button[data-tag="쇼핑"] {
        --border-color: #9747ff;
        --text-color: #9747ff;
      }

      .tag-button[data-tag="호텔"] {
        --border-color: #28a342;
        --text-color: #28a342;
      }
    }
  }

  section.youtube_items {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 60 * $size-1920-1px;
    p {
      font-size: 24 * $size-1920-1px;
      margin-top: 10 * $size-1920-1px;
      margin-bottom: 20 * $size-1920-1px;
    }
    div#youtube_results {
      display: flex;
      flex-wrap: wrap;
      gap: 45 * $size-1920-1px;
      img {
        width: 450 * $size-1920-1px;
        height: 254 * $size-1920-1px;
        object-fit: cover;
        border-radius: 10px;
      }
      p {
        font-size: 20 * $size-1920-1px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 876px) {
  main {
    section.sns_banner {
      > img {
        // object-fit: cover;
        content: url(../img/sns_tablet_img.png);
      }
      .main_banner {
        margin-top: 0;
        margin-bottom: 72 * $size-768-1px;
        width: 100%;
        height: 350 * $size-768-1px;
      }

      .main_title {
        display: flex;
        position: absolute;
        bottom: 40%;

        img {
          width: 54 * $size-768-1px;
          height: 40 * $size-768-1px;
          margin-left: 30 * $size-768-1px;
          margin-right: 14 * $size-768-1px;
        }

        .map_title_text {
          p {
            margin-top: -6 * $size-768-1px;
            &:first-child {
              color: #fff;
              font-size: 46 * $size-768-1px;
              font-weight: 900;
            }
            &:last-child {
              color: #fff;
              font-size: 24 * $size-768-1px;
              font-weight: 700;
              margin-top: 15 * $size-768-1px;
              margin-left: -66 * $size-768-1px;
            }
          }
        }
      }
      .line {
        width: 100%;
        height: 15 * $size-768-1px;
        background-color: #eee;
      }
      .hashtag {
        display: flex;
        justify-content: center;
        gap: 50 * $size-768-1px;

        position: relative;
        bottom: 4.5vw;

        button {
          padding: 10 * $size-768-1px 20 * $size-768-1px;
          border-radius: 30px;
          font-size: 24 * $size-768-1px;
        }
      }
    }
    section.youtube_items {
      width: 99%;
      margin: 0 auto;
      padding-bottom: 80 * $size-768-1px;
      p {
        font-size: 24 * $size-768-1px;
        margin-top: 10 * $size-768-1px;
        margin-bottom: 20 * $size-768-1px;
      }
      div#youtube_results {
        gap: 25 * $size-768-1px;
        img {
          width: 350 * $size-768-1px;
          height: 200 * $size-768-1px;
          object-fit: cover;
          border-radius: 10px;
        }
        p {
          font-size: 16 * $size-768-1px;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 430px) {
  main {
    section.sns_banner {
      > img {
        // object-fit: cover;
        content: url(../img/sns_mobile_img.png);
      }
      .main_banner {
        margin-top: 0;
        margin-bottom: 60 * $size-430-1px;
        width: 100%;
        height: 350 * $size-430-1px;
      }

      .main_title {
        display: flex;
        position: absolute;
        bottom: 40%;

        img {
          width: 57 * $size-430-1px;
          height: 40 * $size-430-1px;
          margin-left: 30 * $size-430-1px;
          margin-right: 14 * $size-430-1px;
        }

        .map_title_text {
          p {
            &:first-child {
              color: #fff;
              font-size: 36 * $size-430-1px;
              font-weight: 900;
            }
            &:last-child {
              color: #fff;
              font-size: 22 * $size-430-1px;
              font-weight: 700;
              margin-top: 20 * $size-430-1px;
              margin-left: -66 * $size-430-1px;
            }
          }
        }
      }
      .line {
        width: 100%;
        height: 15 * $size-430-1px;
        background-color: #eee;
      }
      .hashtag {
        display: flex;
        justify-content: center;
        gap: 10 * $size-430-1px;

        position: relative;
        bottom: 7.1vw;

        button {
          padding: 8 * $size-430-1px 16 * $size-430-1px;
          border-radius: 30px;
          font-size: 18 * $size-430-1px;
        }
      }
    }
    section.youtube_items {
      width: 98%;
      margin: 0 auto;
      padding-bottom: 40 * $size-430-1px;
      p {
        font-size: 24 * $size-430-1px;
        margin-top: 10 * $size-430-1px;
        margin-bottom: 20 * $size-430-1px;
        margin-left: 15 * $size-430-1px;
      }
      div#youtube_results {
        gap: 0;
        img {
          width: 391 * $size-430-1px;
          height: 224 * $size-430-1px;
          object-fit: cover;
          border-radius: 10px;
        }
        p {
          font-size: 20 * $size-430-1px;
          text-align: center;
          margin-top: 30 * $size-430-1px;
          margin-bottom: 60 * $size-430-1px;
        }
      }
    }
  }
}
